<div class="container">
	<h4>Breakdown</h4><hr></hr>

	<img src=vendor/imgs/rrd/akamai-breakdown-12hour.png><br><br>
	<img src=vendor/imgs/rrd/akamai-breakdown-1day.png><br><br>

	<img src=vendor/imgs/rrd/limelight-breakdown-12hour.png><br><br>
	<img src=vendor/imgs/rrd/limelight-breakdown-1day.png><br><br>

	<img src=vendor/imgs/rrd/edgecast-breakdown-12hour.png><br><br>
	<img src=vendor/imgs/rrd/edgecast-breakdown-1day.png><br><br>

	<img src=vendor/imgs/rrd/fastly-breakdown-12hour.png><br><br>
	<img src=vendor/imgs/rrd/fastly-breakdown-1day.png><br><br>

	<img src=vendor/imgs/rrd/cloudflare-breakdown-12hour.png><br><br>
	<img src=vendor/imgs/rrd/cloudflare-breakdown-1day.png><br><br>

	<img src=vendor/imgs/rrd/instartlogic-breakdown-12hour.png><br><br>
	<img src=vendor/imgs/rrd/instartlogic-breakdown-1day.png><br><br>

	<img src=vendor/imgs/rrd/cdnetworks-breakdown-12hour.png><br><br>
	<img src=vendor/imgs/rrd/cdnetworks-breakdown-1day.png><br><br>

<br><br>
