<div class="container">
	<h4>DNS Lookup Comparison</h4><hr></hr>

	<!--<img src=vendor/imgs/rrd/rtt-6hour.png><br><br><br>-->
	<img src=vendor/imgs/rrd/dns_lookup-12hour.png><br><br><br>
	<img src=vendor/imgs/rrd/dns_lookup-1day.png><br><br><br>


	<br><br><br>
</div>
