<div class="container">
	<h4>Handshake vs RTT</h4><hr></hr>

	<div class="row">
		<div class="col-md-5">
			<img src=vendor/imgs/rrd/akamai_handshake_vs_rtt-12hour.png><br><br>
		</div>
		<div class="col-md-5">
			<img src=vendor/imgs/rrd/akamai_handshake_vs_rtt-1day.png><br><br>
		</div>
	</div>

	<div class="row">
		<div class="col-md-5">
			<img src=vendor/imgs/rrd/limelight_handshake_vs_rtt-12hour.png><br><br>
		</div>
		<div class="col-md-5">
			<img src=vendor/imgs/rrd/limelight_handshake_vs_rtt-1day.png><br><br>
		</div>
	</div>

	<div class="row">
		<div class="col-md-5">
			<img src=vendor/imgs/rrd/edgecast_handshake_vs_rtt-12hour.png><br><br>
		</div>
		<div class="col-md-5">
			<img src=vendor/imgs/rrd/edgecast_handshake_vs_rtt-1day.png><br><br>
		</div>
	</div>

	<div class="row">
		<div class="col-md-5">
			<img src=vendor/imgs/rrd/fastly_handshake_vs_rtt-12hour.png><br><br>
		</div>
		<div class="col-md-5">
			<img src=vendor/imgs/rrd/fastly_handshake_vs_rtt-1day.png><br><br>
		</div>
	</div>

	<div class="row">
		<div class="col-md-5">
			<img src=vendor/imgs/rrd/cloudflare_handshake_vs_rtt-12hour.png><br><br>
		</div>
		<div class="col-md-5">
			<img src=vendor/imgs/rrd/cloudflare_handshake_vs_rtt-1day.png><br><br>
		</div>
	</div>

	<div class="row">
		<div class="col-md-5">
			<img src=vendor/imgs/rrd/instartlogic_handshake_vs_rtt-12hour.png><br><br>
		</div>
		<div class="col-md-5">
			<img src=vendor/imgs/rrd/instartlogic_handshake_vs_rtt-1day.png><br><br>
		</div>
	</div>

	<div class="row">
		<div class="col-md-5">
			<img src=vendor/imgs/rrd/cdnetworks_handshake_vs_rtt-12hour.png><br><br>
		</div>
		<div class="col-md-5">
			<img src=vendor/imgs/rrd/cdnetworks_handshake_vs_rtt-1day.png><br><br>
		</div>
	</div>
</div>

<br><br>
