<div class="container">
	<h4>TCP Handshake Comparison</h4><hr></hr>

	<!--<img src=vendor/imgs/rrd/rtt-6hour.png><br><br><br>-->
	<img src=vendor/imgs/rrd/tcp_handshake-12hour.png><br><br><br>
	<img src=vendor/imgs/rrd/tcp_handshake-1day.png><br><br><br>


	<br><br><br>
</div>
