<div class="container">
	<h4>Time to First Byte Comparison</h4><hr></hr>

	<img src=vendor/imgs/rrd/first_byte-12hour.png><br><br><br>
	<img src=vendor/imgs/rrd/first_byte-1day.png><br><br><br>
	<img src=vendor/imgs/rrd/first_byte-1week.png><br><br><br>
	<img src=vendor/imgs/rrd/first_byte-1month.png><br><br><br>


	<br><br><br>
</div>
