<div class="container">
	<h4>TLS Handshake Comparison</h4><hr></hr>

	<!--<img src=vendor/imgs/rrd/rtt-6hour.png><br><br><br>-->
	<img src=vendor/imgs/rrd/tls_handshake-12hour.png><br><br><br>
	<img src=vendor/imgs/rrd/tls_handshake-1day.png><br><br><br>
	<img src=vendor/imgs/rrd/tls_handshake-1week.png><br><br><br>
	<img src=vendor/imgs/rrd/tls_handshake-1month.png><br><br><br>
	<img src=vendor/imgs/rrd/tls_handshake-3month.png><br><br><br>
	<img src=vendor/imgs/rrd/tls_handshake-6month.png><br><br><br>
	<img src=vendor/imgs/rrd/tls_handshake-1year.png><br><br><br>


	<br><br><br>
</div>
